* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Mexendo com o lado Esquerdo da tela */


.side-left {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* mexendo com o titulo */

.title {
    width: 80%;
    margin: 20px 0;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background: aliceblue;
    border-radius: 15px;
}
.title > h1 {
    margin: 5px;
}
.title > p {
    margin: 0;
}

/* mexendo com o conteudo */

.content {
    width: 60%;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 35px;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 10px 10px;
}


input {
    width: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.253);
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.4s ease-in-out;
}
input:hover {
    background-color: rgb(171, 173, 175);
    border: 2px solid black;
}


.name {
    width: 100%;
    display: flex;
    margin: 10px 0;
    
}
.name > p {
    width: 35%;
}


.last-name {
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.last-name > p {
    width: 35%;
}


.email {
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.email > p {
    width: 35%;
}


.birthday {
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.birthday > p {
    width: 35%;
}
.birthday > input {
    width: 35%;
    font-size: 20px;
    padding-left: 10px;
}


.button {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.button > button {
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    transition: 0.5s ease;
}

button:hover {
    background-color: rgb(171, 173, 175);
}


/* mexendo com o lado direito */

.side-right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto {
    display: flex;
    flex-direction: column;
    margin: 65px 5px;
}
.texto > h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 20px;
}
.imagem {
    width: 350px;
    height: 350px;
}


/* responsividade */

@media (max-width: 450px){
    body {
        flex-direction: column;
    }
}