* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(128, 120, 120, 0.938), rgb(20, 20, 20));
}


/* Header */

header {
    width: 100%;
    background-image: linear-gradient(to right, white, white);
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.div-logo {
    height: 100%;
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: right;
}

.div-logo > img {
    width: 50%;
}

.name {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    font-size: 20px;
}

.right {
    
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: right;
}

.list-itens {
    margin: 0 10px 0;
    list-style: none;
    display: flex;  
}

.list-itens > li {
    border-bottom: 1px solid black;
    border-radius: 5%;
    text-decoration: none;
    margin: 0 30px 0 0;
    font-size: 30px;
    padding: 2px;
}

li > a {
    color: black;
    text-decoration: none;
}



/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.header {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section1 {
    border: 1px solid black;
    background-image: linear-gradient(to right, white, rgb(226, 225, 225));
    border-radius: 2%;
    width: 75%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ilustracao {   
    background-color: gray;
    border-radius: 50%;
}   
.ilustracao > img {
    width: 200px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.about > p {
    margin: 10px 5px 20px 5px;
    color: black;
}

.about > ul{
    list-style: circle;
    display: flex;
    flex-direction: row;
}

.about > ul > li {
    margin: 10px 30px;
}


/* footer */

footer {
    border-top: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.rodape > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.rodape > ul > li {
    border-bottom: 1px solid black;
    background-color: white;
    border-radius: 5%;
    margin: 10px 50px 5px;
    padding: 5px 10px;
}

.final {
    font-size: 15px;
}
    

/* :hover */

a:hover {
    border-radius: 5%;
    transition: 2s ease;
    font-size: 105%;
    background: gray;
    border-radius: 10%;
}